<div class="h-full flex">
    <app-project-sidebar-menu></app-project-sidebar-menu>
    <div
        class="text-textWhite font-firaCode mb-[52px] xs:ml-[10px] sm:ml-[20px] pt-[20px]">
        <p class="text-[24px]  font-semibold">Projects</p>
        <div *ngFor="let project of projects"
            class="border-borderBlack border-l-[1px]">
            <div class="pt-[20px] ml-[10px] sm:ml-[20px]">
                <p class="text-[20px]">{{project.name}}</p>
                <div
                    class="border-borderBlack sm:border-l-[1px] text-blackWhite">
                    <div class="pt-[20px] sm:ml-[20px]">
                        <div class="flex flex-col xs:flex-row">
                            <div class="flex text-[18px]"
                                *ngFor="let skill of project.skills">
                                <p class="mr-[20px]">{{skill}} .</p>
                            </div>
                        </div>
                        <div>
                            <div class="pt-[10px] sm:ml-[10px]">
                                <p class="16px">{{project.duration}}</p>
                                <div
                                    class="border-borderBlack sm:border-l-[1px]">
                                    <div class="sm:ml-[20px] pt-[10px]">
                                        <p
                                            class="text-[14px] text-justify mr-[10px] xs:mr-[80px]"
                                            [innerHTML]="project.description"></p>
                                        <div
                                            class="border-borderBlack border-l-[1px]">
                                            <button
                                                (click)="openProject(project.url)"
                                                *ngIf="project.isAvailable"
                                                class="border mt-[20px] xs:ml-[20px] capitalize border-grayishWhite hover:border-brightYellow text-blackWhite hover:text-darkPurple font-medium py-2 px-4 rounded-full">Show
                                                Project</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
