<div class="h-screen flex mb-20px">
    <app-about-sidebar-menu></app-about-sidebar-menu>
    <div class="text-white">
        <p class="font-firaCode font-semibold text-[32px] ml-[20px] mt-[20px]">About Me</p>
        <br>
        <div class="font-firaCode text-[16px] ml-[30px] mr-[30px] text-justify">
            <p>Hello, I am a backend developer with expertise in server-side development and maintainance of web
                applications. I am responsible for ensuring that the backend of the application operates smoothy and
                effectively, working with database, server-side languages and frameworks, and building and maintaining
                APIs that enable communication between the front-end and backend of the application.</p>
            <br>
            <p>My experience in unit and end-to-end testing using Jest has helped me to make software more stable and
                reliable. I have worked in various industries, including finance, healthcare, e-commerce, and food. I
                have collaborated closely with frontend developers, designers to ensure that the application meets the
                needs of users and the business.</p>
            <br>
            <p>Beyond my work in technology, I am also a social worker dedicated to help individuals, families, and
                communities to address social problems and improve overall well-being. This experience has given me a
                unique perspective on problem-solving and advocacy, which I apply to my work as a programmer.</p>
            <br>
            <p>I am excited to continue growing my skills as a backend developer, and also eager to take on new
                challenges and projects. Thank you for visiting my portfolio website. Please feel free to reach out to
                me if you have any questions or would like to discuss a potential collaboration.</p>
        </div>
    </div>
</div>