<div class="h-full w-full flex">
    <app-project-sidebar-menu></app-project-sidebar-menu>
    <div class="text-textWhite font-firaCode">
        <p class="text-[24px] p-[20px] font-semibold">Projects</p>
        <!-- Resturant Management System -->
        <div class="ml-[40px] font-medium">
            <p class="text-[20px]">Resturant Management System</p>
            <div class="text-blackWhite mt-[20px] ml-[20px]">
                <div class="flex text-[18px]">
                    <p class="mr-[30px]">TypeScript .</p>
                    <p class="mr-[30px]">Node.js .</p>
                    <p class="mr-[30px]">Express.js .</p>
                    <p class="mr-[30px]">MongoDB .</p>

                </div>
                <p class="text-[16px] mt-[20px] ml-[20px]">Jan 2022 - Apr 2022</p>
                <p class="text-[14px] mt-[20px] text-justify mr-[80px] ml-[40px]">Resturant Management System was designed to streamline operations and improve efficiency. It aimed to provide comprehensive solutions to various aspects of resturant management including user management, inventory management, order management, billing, financial accounting, reporting and analysis and online ordering. However, due to lack of capital, project had to be terminated at an early stage. Only user  management, inventory management and menu modules were developed.<br>While the project was not completed, the developed modules provides a strong foundation for further development in future. With additional funding, resturant management system could be further developed to include additional functionalities. Ultimately, the goal of the system was to enhance the customer experience, increase operational efficiency and boost profitability.</p>
                <button (click)="goToRMS()" class="border mt-[20px] ml-[60px] capitalize border-grayishWhite hover:border-brightYellow text-blackWhite hover:text-darkPurple font-medium py-2 px-4 rounded-full">Show Project</button>
            </div>
        </div>

        <!-- Art Gallery Ecommerce -->
        <div class="ml-[40px] mt-[40px] font-medium">
            <p class="text-[20px]">Art Gallery Ecommerce</p>
            <div class="text-blackWhite mt-[20px] ml-[20px]">
                <div class="flex text-[18px]">
                    <p class="mr-[30px]">TypeScript .</p>
                    <p class="mr-[30px]">NestJS .</p>
                    <p class="mr-[30px]">MongoDB .</p>

                </div>
                <p class="text-[16px] mt-[20px] ml-[20px]">Apr 2022 - June 2022</p>
                <p class="text-[14px] mt-[20px] text-justify mr-[80px] ml-[40px]">Art Gallery Ecommerce is a web application designed to provide a user-friendly platform for enthusiasts to purchase high-quality from a curated selection of artists. This application was developed with the goal of learning NestJs and Jest for unit testing and end-to-end(e2e) testing.</p>
                <button class="hidden border mt-[20px] ml-[60px] capitalize border-grayishWhite hover:border-brightYellow text-blackWhite hover:text-darkPurple font-medium py-2 px-4 rounded-full">Show Project</button>
            </div>
        </div>
    </div>
</div>
