<div class="h-full flex">
    <app-about-sidebar-menu></app-about-sidebar-menu>
    <div class="font-firaCode mb-[52px] text-textWhite ml-[20px] mt-[20px]">
        <p class="font-semibold text-[24px] capitalize">Cetrificate</p>
        <div class="border-borderBlack border-l-[1px]">
            <div class="ml-[20px] pt-[20px] text-[18px]">
                <p class="mr-[40px] font-medium text-justify text-blackWhite">Although
                    I don't
                    posses any formal certificates to my field of work, I am a
                    self-motivated learner who has gained proficiency in
                    programming and coding through independent study using
                    resources such as documentation, Google, Stack Overflow and
                    YouTube.
                </p>
                <div *ngFor="let certificate of certificates" class="mt-[20px]">
                    <p class="text-[20px] font-semibold">{{certificate.title}}</p>
                    <div
                        class="text-[16px] text-blackWhite border-l-[1px] border-borderBlack">
                        <div class="pt-[20px] ml-[20px]">
                            <p>{{certificate.description}}</p>
                            <div class="border-borderBlack border-l-[1px]">
                                <button (click)="showImage(certificate)"
                                    class="border mt-[20px] ml-[20px] capitalize border-grayishWhite hover:border-brightYellow text-blackWhite hover:text-darkPurple font-medium py-2 px-4 rounded-full">
                                    <p *ngIf="!certificate.imageShow">See
                                        Certificate</p>
                                    <p *ngIf="certificate.imageShow">Hide
                                        Certificate</p>
                                </button>
                                <img [id]="certificate.imageShow"
                                    [class.hidden]="!certificate.imageShow"
                                    src={{certificate.image}}
                                    alt={{certificate.title}}
                                    class="w-[100vw] mt-[20px] block mx-auto lg:w-[50vw]" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
