<div class="h-full flex">
    <app-about-sidebar-menu></app-about-sidebar-menu>
    <div class="text-white font-firaCode ml-[20px] mt-[20px]">
        <p class="font-semibold text-[32px]">Education</p>
        <!-- Kathford -->
        <div class="font-medium ml-[20px] mt-[40px]">
            <div class="flex">
                <img src="./../../../assets/img/kathfordLogo.svg" alt="kathford college logo">
                <p class="ml-[10px] text-[20px]">Kathford International College of Engineering and Management</p>
            </div>
            <div class="text-blackWhite ml-[54px] font-medium">
                <p class="ml-[20px] text-[16px]">Bachelor's Degree in Computer Science and Engineering</p>
                <br>
                <p class="ml-[40px] text-[15px]">Balkumari, Lalitpur</p>
                <br>
                <p class="ml-[60px] text-[14px]">Nov 2017 - Present</p>
            </div>
        </div>

        <!-- DAV -->
        <div class="font-medium ml-[20px] mt-[40px]">
            <div class="flex">
                <img src="./../../../assets/img/davLogo.svg" alt="kathford college logo">
                <p class="ml-[10px] text-[20px]">DAV Sushil Kedia Vishwa Bharati Higher Secondary School</p>
            </div>
            <div class="text-blackWhite ml-[54px] font-medium">
                <p class="ml-[20px] text-[16px]">+2</p>
                <br>
                <p class="ml-[40px] text-[15px]">Jawalakhel, Lalitpur</p>
                <br>
                <p class="ml-[60px] text-[14px]">2014 - 2016</p>
            </div>
        </div>
    </div>
</div>
