<div class="h-full flex">
    <app-about-sidebar-menu></app-about-sidebar-menu>
    <div class="text-textWhite mb-[52px] text-center xs:text-left font-firaCode ml-[20px] mt-[20px]">
        <p class="font-semibold text-[24px]">Education</p>
        <div *ngFor="let education of educations" class="font-medium pt-[40px] border-l-[1px] border-borderBlack">
            <div class="ml-[20px]">
                <div class="flex flex-col items-center xs:flex-row">
                    <img src={{education.logo}} alt="kathford college logo">
                    <p class="ml-[10px] text-[20px]">{{education.college}}</p>
                </div>
                <div class="text-blackWhite font-medium border-l-[1px] border-l-[1px] border-borderBlack pt-[10px]">
                    <div class="ml-[44px]">
                        <p class="ml-[20px] text-[16px]">{{education.degree}}</p>
                        <div class="border-l-[1px] border-borderBlack ml-[20px] pt-[10px]">
                            <p class="ml-[20px] text-[15px]">{{education.address}}</p>
                            <div class="ml-[20px] border-l-[1px] border-borderBlack pt-[10px]">
                                <p class="ml-[20px] text-[14px]">{{education.period}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>