<div class="h-full flex">
    <app-about-sidebar-menu></app-about-sidebar-menu>
    <div class="text-textWhite mb-[52px] font-firaCode mt-[20px] ml-[20px]">
        <p class="font-semibold text-[24px]">Hobbies</p>
        <div *ngFor="let hobby of hobbies"
            class="border-borderBlack border-l-[1px]">
            <div class="flex items-center pt-[20px] ml-[20px]">
                <img src={{hobby.image}} alt={{hobby.name}} class="fill-blackwhite h-[36px]"/>
                <div class="ml-[20px] font-medium text-[20px]">
                    <p>{{hobby.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
