<div class="h-full flex">
    <app-about-sidebar-menu></app-about-sidebar-menu>
    <div class="font-firaCode text-white ml-[20px] mt-[20px]">
        <p class="font-semibold text-[32px]">Soft Skills</p>
        <div class="ml-[20px] font-medium text-[20px]">
            <!-- Problem Solving -->
            <div class="flex mt-[20px]">
                <img src="./../../../assets/img/problemSolving.svg" alt="problem solving svg">
                <p class="ml-[20px]">Problem-Solving</p>
            </div>
            <!-- Sharp Memory -->
            <div class="flex mt-[20px]">
                <img src="./../../../assets/img/sharpMemory.svg" alt="sharp memory svg">
                <p class="ml-[20px]">Sharp Memory</p>
            </div>
            <!-- Efficient Laziness -->
            <div class="flex mt-[20px]">
                <img src="./../../../assets/img/efficientLaziness.svg" alt="efficientLaziness svg">
                <p class="ml-[20px]">Efficient Laziness</p>
            </div>
            <!-- Self-motivation and independence -->
            <div class="flex mt-[20px]">
                <img src="./../../../assets/img/selfMotivation.svg" alt="self motivation svg">
                <p class="ml-[20px]">Self-Motivation and Independence</p>
            </div>
            <!-- dedication -->
            <div class="flex mt-[20px]">
                <img src="./../../../assets/img/dedication.svg" alt="dedication svg">
                <p class="ml-[20px]">Dedication</p>
            </div>
        </div>
    </div>
</div>
