<div class="flex flex-col bg-darkBlack lg:flex-row sml:items-center">
    <div class="flex flex-col space-y-1 ml-[50px] sm:w-1/2 mt-[130px] xl:space-y-[50px] lg:space-y-[40px] sm:mt-[0px]">
        <p class="font-firaCode font-medium text-textWhite text-[20px] ">Hello! I am</p>
        <p class="font-firaCode font-semibold text-brightWhite text-[20px] xl:text-[45px] lg:text-[35px] md:text-[30px]">Saragam Ghimire</p>
        <p class="font-firaCode font-medium text-skyBlue text-[20px] lg:text-[24px] md:text-[20px]">I am a backend developer</p>
    </div>
    <div class="mt-[10px] flex-auto lg:w-3/5">
        <img src="./../../assets/img/helloPageDesktop.svg" alt="desktop backend">
    </div>
</div>
<!-- lg:w-1/2 md:w-1/2 sml:w-3/5 sm:w-2/5 brp:w-2/5 brp:items-center -->