<!-- <div class="flex flex-col bg-darkBlack lg:flex-row sml:items-center mb-[52px]">
    <div class="flex flex-col space-y-1 ml-[50px] sm:w-1/2 md mt-[130px] xl:space-y-[50px] lg:space-y-[40px] sm:mt-[0px]">
        <p class="font-firaCode font-medium text-textWhite text-[20px] ">Hello! I am</p>
        <p
            class="font-firaCode font-semibold text-brightWhite text-[20px] xl:text-[45px] lg:text-[35px] md:text-[30px]">
            Saragam Ghimire</p>
        <p class="font-firaCode font-medium text-skyBlue text-[20px] lg:text-[24px] md:text-[20px]">I am a backend
            developer</p>
    </div>
    <div class="mt-[80px] flex-auto lg:w-3/5">
        <img src="./../../assets/img/helloPageDesktop.svg" alt="desktop backend">
    </div>
</div> -->
<!-- lg:w-1/2 md:w-1/2 sml:w-3/5 sm:w-2/5 brp:w-2/5 brp:items-center -->

<div class="font-firaCode flex flex-col items-center md:flex-row">
    <div class="text-center  md:flex-auto md:mx-[auto]">
        <p class="text-[20px] text-textWhite mt-[30px] lg:text-[24px]">Hello! I am</p>
        <p class="text-[30px] text-brightWhite mt-[40px] lg:text-[48px]">Saragam Ghimire</p>
        <p class="text-[20px] text-skyBlue mt-[40px] lg:text-[24px]">I am a backend developer</p>
    </div>
    <div class="flex-col mt-[50px] md:flex-auto mb-[52px] md:mt-[12vh]">
        <img src="./../../assets/img/helloPageDesktop.svg" alt="using desktop">
    </div>
</div>