<div class="h-full flex">
    <app-about-sidebar-menu></app-about-sidebar-menu>
    <div class="text-textWhite font-firaCode mt-[20px] ml-[20px]">
        <p class="text-[24px] font-semibold">Language</p>
        <!-- Nepali -->
        <div class="mt-[20px] ml-[20px]">
            <p class="text-[20px]">Nepali Language</p>
            <p class="text-blackWhite ml-[20px] mt-[20px]">Natural Tounge</p>
        </div>
        <!-- English -->
        <div class="mt-[30px] ml-[20px]">
            <p class="text-[20px]">English Language</p>
            <p class="text-blackWhite ml-[20px] mt-[20px]">Fluent</p>
        </div>
        <!-- Hindi -->
        <div class="mt-[30px] ml-[20px]">
            <p class="text-[20px]">Hindi Language</p>
            <p class="text-blackWhite ml-[20px] mt-[20px]">Fluent</p>
        </div>
    </div>
</div>