<div class="h-full w-full flex">
    <app-project-sidebar-menu></app-project-sidebar-menu>
    <div class="text-textWhite font-firaCode">
        <p class="text-[24px] p-[20px] font-semibold">Projects</p>
        <!-- HRM -->
        <div class="ml-[40px] font-medium mb-[52px] ">
            <p class="text-[20px]">Human Resource Management System</p>
            <div class="text-blackWhite mt-[20px] xs:ml-[20px]">
                <div class="flex text-[18px] flex-col xs:flex-row">
                    <p class="mr-[30px]">Ionic VueJS .</p>
                    <p class="mr-[30px]">Laravel .</p>
                    <p class="mr-[30px]">MySQL .</p>
                </div>
                <p class="text-[16px] mt-[20px] xs:ml-[20px]">Dec 2022 - Jan 2023</p>
                <p class="text-[14px] mt-[20px] text-justify mr-[10px] xs:mr-[80px] xs:ml-[40px]">Human Resource Management is a mobile application that streamlines attendance management, leave requests and provides insightful reports. Employees can quickly and easily log their attendance and system saves their location to ensure they are logging from designated work area. Additionally employees can request leaves directly from app, which saves time and simplify the process. This app also keep track of workdays, so that employees can plan their time off accordingly. The system was mainly designed to make attendance and leave management simple, efficient and user-friendly.</p>
                <button class="hidden border mt-[20px] xs:ml-[60px] capitalize border-grayishWhite hover:border-brightYellow text-blackWhite hover:text-darkPurple font-medium py-2 px-4 rounded-full">Show Project</button>
            </div>
        </div>
    </div>
</div>
