<div class="h-full flex">
    <app-about-sidebar-menu></app-about-sidebar-menu>
    <div class="font-firaCode mb-[52px] text-textWhite ml-[20px] mt-[20px]">
        <p class="font-semibold text-[24px] capitalize">Tech Skill</p>
        <div *ngFor="let techSkill of techSkills"
            class="border-l-[1px] border-borderBlack">
            <div class="ml-[20px] pt-[20px]">
                <div class="flex flex-row items-center">
                    <img src={{techSkill.logo}} alt={{techSkill.name}}>
                    <div class="flex flex-col ml-[20px]">
                        <p class="text-[20px] font-medium">{{techSkill.name}}</p>
                        <div class="flex flex-row">
                            <div
                                *ngFor="let star of getStars(techSkill.skill); let i=index">
                                <img src="./../../../assets//img/star.svg"
                                    alt="star" />
                            </div>
                            <div
                                *ngFor="let star of getStars(5-(techSkill.skill)); let i=index">
                                <img
                                    src="./../../../assets//img/star-empty-icon.svg"
                                    alt="star" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
