<footer class="fixed z-30 bottom-0 bg-normalBlack w-full h-[52px]">
  <div class="flex font-firaCode font-medium text-white mt-4 items-center">
    <div class="flex flex-[10] hidden sm:block">
      <p class="flex-1 w-[200px] pl-[10px]">Connect With Me:</p>
    </div>
    <div class="flex flex-[20] flex-start h-full justify-evenly">
      <a class="flex-1 pl-[20px] pt-[4px]" href="https://github.com/codewithsg" target="_blank"><img src="./../../../assets/img/github.svg"
          alt="github" /></a>
      <a class="flex-1 pl-[20px] pt-[4px]" href="https://www.linkedin.com/in/saragam-ghimire-379498217/" target="_blank"><img
          src="./../../../assets/img/linkedin.svg" alt="linkedin" /></a>
      <a class="flex-1 pl-[20px] pt-[4px]" href="mailto:codewithghimire@gmail.com" target="_blank"><img
          src="./../../../assets/img/gmail.svg" alt="gmail"></a>
      <a class="flex-1 pl-[20px] pt-[4px]" href="https://stackoverflow.com/users/16104063/codewithsg" target="_blank"><img
          class="h-4 bg-white fill-blue-500" src="./../../../assets/img/stackoverflow-icon.svg"
          alt="stackoverflow" /></a>
      <a class="flex-1 pl-[10px] pt-[4px]" href="https://www.facebook.com/ghimire.saragam73" target="_blank"><img
          src="./../../../assets/img/facebook.svg" alt="facebook" /></a>
    </div>
    <div class="hidden md:flex-[40] md:block"></div>
  </div>
</footer>