footer {
    position: fixed;
    bottom: 0;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    display: inline-block;
  }
  
  a {
    display: block;
  }
  
  img {
    filter: brightness(0) invert(1);
  }
  
  img:hover {
    filter: brightness(0.7) invert(1);
  }
  