<div class="bg-normalBlack relative w-[230px] h-full">
    <div class="fixed w-[230px] h-full">
        <ul class="mt-[-10px]">
            <li (click)="goToBiography()" routerLinkActive="active-link"
                class="mt-[10px] cursor-pointer hover:bg-darkBlack"><img class="mr-[10px] ml-[5px]"
                    src="./../../../assets/img/rightArrow.svg" alt="right arrow for about menu sidebar">
                <p class="font-firaCode font-noraml text-[16px] text-brightYellow"><a [routerLink]="['/about/bio']">
                        Biography</a></p>
            </li>
            <li (click)="goToExperience()" routerLinkActive="active-link"
                class="mt-[10px] cursor-pointer hover:bg-darkBlack"><img class="mr-[10px] ml-[5px]"
                    src="./../../../assets/img/rightArrow.svg" alt="right arrow for about menu sidebar">
                <p class="font-firaCode font-noraml text-[16px] text-brightYellow"><a
                        [routerLink]="['/about/experience']"> Experience</a></p>
            </li>
            <li (click)="goToEducation()" routerLinkActive="active-link"
                class="mt-[10px] cursor-pointer hover:bg-darkBlack"><img class="mr-[10px] ml-[5px]"
                    src="./../../../assets/img/rightArrow.svg" alt="right arrow for about menu sidebar">
                <p class="font-firaCode font-noraml text-[16px] text-brightYellow"><a
                        [routerLink]="['/about/education']"> Education</a></p>
            </li>
            <li (click)="goToSkills()" routerLinkActive="active-link"
                class="mt-[10px] cursor-pointer hover:bg-darkBlack"><img class="mr-[10px] ml-[5px]"
                    src="./../../../assets/img/rightArrow.svg" alt="right arrow for about menu sidebar">
                <p class="font-firaCode font-noraml text-[16px] text-brightYellow"><a [routerLink]="['/about/skills']">
                        Skills</a></p>
            </li>
            <li (click)="goToTestimonies()" routerLinkActive="active-link"
                class="mt-[10px] cursor-pointer hover:bg-darkBlack"><img class="mr-[10px] ml-[5px]"
                    src="./../../../assets/img/rightArrow.svg" alt="right arrow for about menu sidebar">
                <p class="font-firaCode font-noraml text-[16px] text-brightYellow"><a
                        [routerLink]="['/about/testimonies']"> Testimonies</a></p>
            </li>
            <li (click)="toogleExtraUl()" routerLinkActive="active-link"
                class="mt-[10px] cursor-pointer hover:bg-darkBlack"><img class="mr-[10px] ml-[5px]"
                    src="./../../../assets/img/rightArrow.svg" alt="right arrow for about menu sidebar">
                <p class="font-firaCode font-noraml text-[16px] text-brightYellow"> Extra</p>
            </li>
        </ul>
        <ul id="extraUl" class="hidden">
            <li (click)="goToCertificate()" routerLinkActive="active-link"
                class="cursor-pointer hover:bg-darkBlack mt-[7px]"><img class="mr-[10px] ml-[20px]"
                    src="./../../../assets/img/darkPurpleRightArrow.svg" alt="right arrow for about menu sidebar">
                <p class="font-firaCode font-medium text-[14px] text-darkPurple"><a
                        [routerLink]="['/about/certificate']">Certificate</a></p>
            </li>
            <li (click)="goToLanguage()" routerLinkActive="active-link"
                class="cursor-pointer hover:bg-darkBlack mt-[7px]"><img class="mr-[10px] ml-[20px]"
                    src="./../../../assets/img/darkPurpleRightArrow.svg" alt="right arrow for about menu sidebar">
                <p class="font-firaCode font-medium text-[14px] text-darkPurple"><a
                        [routerLink]="['/about/language']">Language</a></p>
            </li>
            <li (click)="goToVolunteering()" routerLinkActive="active-link"
                class="cursor-pointer hover:bg-darkBlack mt-[7px]"><img class="mr-[10px] ml-[20px]"
                    src="./../../../assets/img/darkPurpleRightArrow.svg" alt="right arrow for about menu sidebar">
                <p class="font-firaCode font-medium text-[14px] text-darkPurple"><a
                        [routerLink]="['/about/volunteering']">Volunteering</a></p>
            </li>
            <li (click)="goToHobbies()" routerLinkActive="active-link"
                class="cursor-pointer hover:bg-darkBlack mt-[7px]"><img class="mr-[10px] ml-[20px]"
                    src="./../../../assets/img/darkPurpleRightArrow.svg" alt="right arrow for about menu sidebar">
                <p class="font-firaCode font-medium text-[14px] text-darkPurple"><a
                        [routerLink]="['/about/hobbies']">Hobbies</a></p>
            </li>
        </ul>
    </div>
</div>