<div class="bg-normalBlack h-[100%] w-[230px]">
    <ul>
        <li class="mt-[10px] ml-[5px]"><img class="mr-[10px]" src="./../../../assets/img/rightArrow.svg" alt="right arrow for about menu sidebar"><p class="font-firaCode font-noraml text-[16px] text-brightYellow"> Biography</p></li>
        <li class="mt-[10px] ml-[5px]"><img class="mr-[10px]" src="./../../../assets/img/rightArrow.svg" alt="right arrow for about menu sidebar"><p class="font-firaCode font-noraml text-[16px] text-brightYellow"> Experience</p></li>
        <li class="mt-[10px] ml-[5px]"><img class="mr-[10px]" src="./../../../assets/img/rightArrow.svg" alt="right arrow for about menu sidebar"><p class="font-firaCode font-noraml text-[16px] text-brightYellow"> Education</p></li>
        <li class="mt-[10px] ml-[5px]"><img class="mr-[10px]" src="./../../../assets/img/rightArrow.svg" alt="right arrow for about menu sidebar"><p class="font-firaCode font-noraml text-[16px] text-brightYellow"> Skills</p></li>
        <li class="mt-[10px] ml-[5px]"><img class="mr-[10px]" src="./../../../assets/img/rightArrow.svg" alt="right arrow for about menu sidebar"><p class="font-firaCode font-noraml text-[16px] text-brightYellow"> Testimonies</p></li>
        <li class="mt-[10px] ml-[5px]"><img class="mr-[10px]" src="./../../../assets/img/rightArrow.svg" alt="right arrow for about menu sidebar"><p class="font-firaCode font-noraml text-[16px] text-brightYellow"> Extra</p>
            <ul>
                <li class="mt-[10px] ml-[20px]"><img class="mr-[10px]" src="./../../../assets/img/rightArrow.svg" alt="right arrow for about menu sidebar"><p class="font-firaCOde font-medium text-[14px] text-darkPurple">Certificate</p></li>
                <li class="mt-[10px] ml-[20px]"><img class="mr-[10px]" src="./../../../assets/img/rightArrow.svg" alt="right arrow for about menu sidebar"><p class="font-firaCOde font-medium text-[14px] text-darkPurple">Language</p></li>
                <li class="mt-[10px] ml-[20px]"><img class="mr-[10px]" src="./../../../assets/img/rightArrow.svg" alt="right arrow for about menu sidebar"><p class="font-firaCOde font-medium text-[14px] text-darkPurple">Volunteering</p></li>
                <li class="mt-[10px] ml-[20px]"><img class="mr-[10px]" src="./../../../assets/img/rightArrow.svg" alt="right arrow for about menu sidebar"><p class="font-firaCOde font-medium text-[14px] text-darkPurple">Hobbies</p></li>
            </ul>
        </li>
    </ul>
</div>