<nav class="w-screen h-47 bg-normalBlack">
    <div class="flex h-full">
        <ul class="flex h-full bg-lightBlack text-grayishWhite font-inter font-normal text-base">
            <li class="w-161 h-full hover:bg-darkBlack hover:text-brightYellow hover:font-bold"><a href="#">Hello</a></li>
            <li class="w-161 h-full hover:bg-darkBlack hover:text-brightYellow hover:font-bold"><a href="#">About</a></li>
            <li class="w-161 h-full hover:bg-darkBlack hover:text-brightYellow hover:font-bold"><a href="#">Project</a></li>
        </ul>
        <section class="flex"></section>
    </div>
</nav>