<nav class="relative z-50 w-full h-47 bg-normalBlack ">
    <div class="fixed hidden brp:block w-full h-47">
        <div class="flex h-full w-full">
            <ul class="flex flex-wrap h-full bg-lightBlack text-grayishWhite font-inter font-normal text-base">
                <li routerLinkActive="active-link"
                    class="flex-1 w-161 pl-12 pt-3 cursor-pointer h-full hover:bg-darkBlack hover:text-brightYellow hover:font-bold"
                    (click)="gotoHello()"><a [routerLink]="['/hello']">Hello</a></li>
                <li routerLinkActive="active-link"
                    class="flex-1 w-161 pl-12 pt-3 cursor-pointer h-full hover:bg-darkBlack hover:text-brightYellow hover:font-bold"
                    (click)="gotoAbout()"><a [routerLink]="['/about']">About</a></li>
                <li routerLinkActive="active-link"
                    class="flex-1 w-161 pl-12 pt-3 cursor-pointer h-full hover:bg-darkBlack hover:text-brightYellow hover:font-bold"
                    (click)="gotoProject()"><a [routerLink]="['/project']">Project</a></li>
            </ul>
            <div class="flex-auto"></div>
        </div>
    </div>
</nav>